Outburst.userprefs
Outburst_Linux_x64.rar
OutburstUnity-csharp.v12.suo
OutburstUnity.userprefs
OutburstUnity.v12.suo
UnityPlayer_Symbols.pdb
.settings/launch.json
.vscode/launch.json
.vscode/settings.json
*.db
Library
Outburst_Linux
Outburst_Linux_x64
*.cache
Windows
Win
obj
